/Library
/obj
/temp
/*.csproj
/*.sln
/.vs
/*.suo
/*.userprefs
/*.unityproj
/ProjectSettings/ProjectVersion.txt
/Packages/manifest.json
/win/
/Build/
/UnityPlayerStub
/Assets/Plugins/gen/
/Assets/Plugins/gen.meta
/Logs/
/LogExtension.json
/ProjectSettings
